= form_for(@darko) do |f|
  .field
    .darko
      = image_tag("/images/darko-head.png", :alt => "Darko", :title => "Darko's Tip: Keep your entry under 140 characters. I don't have all day to gab.", :height => "159", :width => "142", :align => "absmiddle")

    = f.label(:status, ('What did Darko just say or ask you about?'))
    %br
    = f.text_area :status, :rows => "3", :cols => "60", :maxlength => "140"

  .actions
    = link_to_function "Darko it!", "$(this).up('form').submit()",{:class => "darkoit"}