<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @darko.status_id %>
</p>

<p>
  <b>Status:</b>
  <%= @darko.status %>
</p>


<%= link_to 'Edit', edit_darko_path(@darko) %> |
<%= link_to 'Back', darkos_path %>
